{
    "prod": {
        "django_settings": "settings.settings",
        "profile_name": "aws-profile-name",
        "project_name": "waunakeeairport",
        "runtime": "python3.9",
        "s3_bucket": "zappa-bucket-name-zappa",
        "route53_enabled": false,
        "domain": "www.waunakeeairport.com",
        "certificate_arn": "certificate_arn-from-east-1",
        "exclude": [
            ".env*",
            "*.zip",
            ".direnv",
            "aws_deploy",
            "psycopg2_binary*",
            "coverage*",
            "debug_toolbar",
            "django_coverage*",
            "django_debug_toolbar*",
            "faker*",
            "freezegun*",
            "mccabe*",
            "pip_review*",
            "pip_tools*",
            "pytest*",
            "pyflakes*",
            "pycodestyle*",
            "media",
            "static",
            "botocore",
            "boto3",
        ],
    }
}
