{% extends '_base.html' %}
{% load static wagtailcore_tags %}

{% block header %}
<style type="text/css">

@font-face {
  font-family: Bree Serif;
  src: url('{% static "fonts/Bree_Serif/BreeSerif-Regular.woff2" %}') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: Coda;
  src: url('{% static "fonts/Coda/Coda-Regular.woff2" %}') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: Tienne;
  src: url('{% static "fonts/Tienne/Tienne-Bold.woff2" %}') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: Martell;
  src: url('{% static "fonts/Martel/Martel-Light.woff2" %}') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: Quattrocento;
  src: url('{% static "fonts/Quattrocento/Quattrocento-Bold.woff2" %}') format('woff2');
  font-weight: 700;
}


body {
    background-color: #ffdc4a;
}

.pancake-container {
    text-align: center;
}

.banner {
    font-family: 'Bree Serif', serif;
    color: #3589a1;
    line-height:  0.95;
}

.word-pancakes {
    font-size: 6em;
    border-top:  4px solid #ea572a;
}
.word-and {
    font-size: 3rem;
    color: white;
    letter-spacing: .7rem;
}
.word-planes {
    font-size: 8em;
    border-bottom:  8px dotted #ea572a;
}

.date-row {
    border-bottom: 2px solid #ea572a;
}

.date {
    font-family: 'Coda', sans-serif;
    font-size:  2rem;
    color: #ea572a;
}

.time {
    font-family:  'Bree Serif', serif;
    font-size:  2rem;
    color: #3589a1;
}

.location a {
    font-family: 'Coda', sans-serif;
    font-size:  1.2rem;
    color: #ea572a;
    text-decoration: none;
    border-bottom:  2px dotted #ffef61;
}

.pancake-image {

}

.price-row {
    border-top:  4px solid #ea572a;
    border-bottom: 4px solid #ea572a;
    font-family: 'Coda', sans-serif;
    font-size: 2rem;
    color: #ea572a;
}


.rides {
    font-family: 'Tienne', serif;
    font-size: 3.5rem;
    color: #3589a1;
    border-top: 2px solid #ea572a;
}

.ride-blurb {
    font-family: 'Martell', serif;
    font-size: 1.9rem;
    color: #3589a1;
}

.suggested-dontation {
    font-family: Quattrocento;
    font-size: 1.2rem;
    color: #3589a1;
    border-bottom:  8px dotted #ea572a;
}

footer {
    color: black;
}

footer.border-top {
    border-top:  none !important;
}

</style>
{% endblock %}


{% block content %}
<div class="container pancake-container">

    <img class="img-fluid presents-image mt-3" src="{% static 'img/wa-presents-plane.png' %}" alt="Waunakee Airport Presents">

    <div class="banner word-pancakes mt-3 pt-3 mb-1">PANCAKES</div>
    <div class="banner word-and">AND</div>
    <div class="banner word-planes pb-5">PLANES</div>

    <div class="row date-row mt-3 pb-3 mb-0">
        <div class="col-md-2 col-sm-12 my-2 d-sm-none d-md-block pancake-image">
            <img src="{% static 'img/pancakes.png' %}" alt="Pancakes Stack" class="img-fluid">
        </div>
        <div class="col-md-8 col-sm-12 date-time">
            <div class="date">SUNDAY, SEPTEMBER 20, 2026</div>
            <div class="time">7:30 AM 'TIL NOON - RAIN OR SHINE!</div>
            <div class="location mt-2">
                <a href="https://www.google.com/maps/place/43%C2%B010'43.9%22N+89%C2%B026'49.9%22W/@43.1788539,-89.4477301,19z/" target="_blank"><i class="bi bi-geo-alt"></i> 1201 SOUTH DIVISION STREET, WAUNAKEE</a>
            </div>
        </div>
        <div class="col-md-2 col-sm-12 my-2 pancake-image">
            <img src="{% static 'img/pancakes.png' %}" alt="Pancakes Stack" class="img-fluid">
        </div>
    </div>

    <div class="row price-row mt-1 py-3 px-0">
        <div class="col">
            $10 ADULT BREAKFAST
        </div>
        <div class="col">
            $7 KIDS 10 & UNDER
        </div>
    </div>

    <div class="rides mt-1">
        Go for an airplane ride!
    </div>

    <div class="ride-blurb">
        Get a soaring view of Madison & Waunakee!
    </div>

    <div class="suggested-dontation mt-2 pb-4">
        Weather permitting. Suggested donation $50.
    </div>


</div>
{% endblock %}
