{% extends '_base.html' %}

{% block header %}
<style type="text/css">

.underline {
  text-decoration: underline;
}

.col-sm-4 {
  padding-right: 0;
}


input, select {
  margin-top: 5px;
  font-size:  larger;
}

main {
  margin: 0 10px 0 10px;
}

hr {
  margin:  30px 0 30px 0;
}

input, textarea {
  width: 100%;
}

ul li {
  line-height: 1.8 !important;
}

</style>
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(document).ready(function() {

});
</script>
{% endblock %}


{% block content %}

<h3>Airport Operations Area (AOA) - Access Request</h3>

<div class="col-lg-6 col-md-9 col-sm-12 mt-3 p-2">
  <p>If you need access to your backyard by utilizing the airport property, please fill out the form below.</p>
  
  <p>For immediate assistance, call or text Dan Silvers at <a href="tel:4144160810">(414) 416-0810</a> or Jim Meier at <a href="tel:6086989498">(608) 698-9498</a>.</p>

  <hr>

  <h4>Access Guidelines</h4>

  <ul>
      <li>Avoid driving on the paved runway and the grass on the Woodland Dr. side. (this is a turf
      runway).</li>
      <li>Vehicles should drive on the grass, staying close to the runway lights, on the Winston Way
      (South) side.</li>
      <li>Turn on your Hazard lights.</li>
      <li>Drive Slowly.</li>
      <li>Exit your vehicle before entering the runway area to listen and look off both ends of the runway
      for aircraft landing or taking off.</li>
      <li>Use a handheld radio to listen and announce your intentions. A radio is available for you to
      borrow.</li>
      <li>Heavy equipment such as large trailers, campers, tree trimming equipment, and cement trucks
      can damage the runway and tear up the grass areas, especially in wet conditions.</li>
      <li>For those wishing to access in the safety area on the East side of the airport, across from the
      airport and Division St. be especially aware of wet/soft turf conditions.</li>
      <li><b>If you have any questions or need assistance, please reach out to the contacts listed.</b></li>
  </ul>

  <hr>
</div>

<form method="post" class="mt-4">

  {% csrf_token %}

  <div class="col-lg-6 col-md-9 col-sm-12 mt-3 p-2">
  <div class="row mb-3">
    <label for="id_name" class="col-sm-4 col-form-label text-sm-end">Name:</label>
    <div class="col-sm-8">
      {{ form.name }}
    </div>
  </div>

  <div class="row mb-3">
    <label for="id_name" class="col-sm-4 col-form-label text-sm-end">Phone:</label>
    <div class="col-sm-8">
      {{ form.phone }}
    </div>
  </div>

  <div class="row mb-3">
    <label for="id_name" class="col-sm-4 col-form-label text-sm-end">Email:</label>
    <div class="col-sm-8">
      {{ form.email }}
    </div>
  </div>

  <div class="row mb-3">
    <label for="id_name" class="col-sm-4 col-form-label text-sm-end">Address:</label>
    <div class="col-sm-8">
      {{ form.address }}
    </div>
  </div>

  <div class="row mb-3">
    <label for="id_name" class="col-sm-4 col-form-label text-sm-end">Purpose:</label>
    <div class="col-sm-8">
      {{ form.purpose }}
    </div>
  </div>

  <div class="row mb-3 mt-4">
    <div class="col-sm-3"></div>
    <div class="col-sm-9">
      <button type="submit" class="btn btn-primary btn-lg">Submit AOA Access Request</button>
    </div>
  </div>

</div>



</form>


{% endblock %}