{% extends '_base.html' %}

{% block content %}

<h1>Waunakee Airport Cameras</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <h4>Windsock</h4>
            <img src="https://southramp.com/media/cameras/b5311ad5-5ff0-496b-88bb-aa92656df6a5/latest.jpg" class="img-fluid">
        </div>
        <div class="col-lg-6 col-md-12">
            <h4>Ramp</h4>
            <img src="https://southramp.com/media/cameras/9e9c60d4-4f77-4166-a0a3-71f08858761d/latest.jpg" class="img-fluid">
        </div>
    </div>
</div>

{% endblock %}